*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Bricolage Grotesque", sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background:var(--bg);
}

.container{
    width:900px;
    max-width:95%;
    background:var(--container);
    padding:35px;
    border-radius:25px;
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

header{
    margin-bottom:30px;
}

h1{
    font-size: 50px;
    font-weight: 900;
    text-align:center;
    color:var(--primary-dark);

}

p{
    font-size: 20px;
    text-align:center;
    color:var(--subtitle);
}

.form{
    display:grid;
    grid-template-columns:2fr 1fr auto auto;
    gap:12px;
    margin-bottom:30px;
}

input[type=text],
select{

    padding:14px;

    border:none;

    border-radius:14px;

    background:var(--input);

    outline:none;

    font-size:15px;

}

.checkbox{

    display:flex;

    align-items:center;

    gap:8px;

    color:#666;

}

button{

    background:var(--primary);

    border:none;

    color:white;

    border-radius:15px;

    cursor:pointer;

    padding:14px 22px;

    font-weight:600;

    transition:.3s;

}

button:hover{

    background:var(--primary-dark);

}

.card{

    background:var(--secondary);
    border-left:8px solid var(--primary);


    margin-bottom:15px;

    padding:18px;

    border-radius:18px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.info h3{

    color:var(--subtitle);

    font-weight:500;

}

.info span{

    color:var(--subtitle);

    font-size:13px;

}

.done{

    text-decoration:line-through;

    color:#bbb!important;

}

.actions{

    display:flex;

    gap:10px;

}

.finish{

    background:#C7EFCF;
}

.finish:hover{

    background:#99d9a7;

}

.delete{

    background:#FFB4B4;

}

.delete:hover{

    background:#ff9090;

}

.weekly{

    color:#D96C95;

    font-weight:600;

}

@media(max-width:800px){

.form{

grid-template-columns:1fr;

}

}

.theme-menu{
    position: fixed;
    top: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#themeButton{
    width:55px;
    height:55px;
    border-radius:50%;
    z-index:10;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);


}

.themes button:nth-child(1){
    transition-delay:.05s;
}

.themes button:nth-child(2){
    transition-delay:.10s;
}

.themes button:nth-child(3){
    transition-delay:.15s;
}

.themes button:nth-child(4){
    transition-delay:.20s;
}

.themes button:nth-child(5){
    transition-delay:.25s;
}

.themes{
        margin-top:20px; /* antes era 10px */
    position:absolute;

    top:55px;
    left:50%;

    transform:translateX(-50%) translateY(-20px);

    display:flex;
    flex-direction:column;
    gap:10px;

    opacity:0;
    visibility:hidden;

    transition:
        opacity .3s ease,
        transform .3s ease,
        visibility .3s;
}

.theme-menu:hover .themes{


    opacity:1;
    visibility:visible;

    transform:translateX(-50%) translateY(0);



}

.theme-menu:hover .themes button{

    opacity:1;
    transform:translateY(0) scale(1);
}

.themes button{
    width:50px;
    height:50px;

    padding:0;
    border:none;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    font-size:20px;
    line-height:1;

    opacity:0;
    transform:translateY(-10px) scale(1);

    transition:
        opacity .25s ease,
        transform .25s ease;
}

.pink{
    background:#F6AFCF;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.blue{
    background:#8CCBFF;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.green{
    background:#9AD7B5;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.purple{
    background:#C9A3FF;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.default{
    background:white;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

